.indicator {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 50%;
}

.on {
    margin-right: 5px;
    /*display: inline-block;*/
}
.off {
    margin-right: 5px;
    /*display: inline-block;*/
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}